<h1>Wikirator</h1>


<!--<div class="row">-->
<!--<div class="col-md-6">-->

<% if user_signed_in? %>
    <h2>Hello <%= current_user.email %> </h2>
<!--<%# avatar_url = current_user.avatar_url(current_user, 42) %>-->
<!--<%# unless avatar_url.nil? %>-->
  
<!--  <div class="media-left">-->
<!--    <%#= image_tag avatar_url, class: 'media-object' %>-->
<!--  </div>-->
  
    <h2>you're signed in. Welcome!</h2>
 
<%# end %>
        
     
    <p>
    <%= link_to('Logout', destroy_user_session_path) %>
    </p>


<% else %>
    <li>
    <%= link_to('Login', new_user_session_path)  %>  
    </li>
<% end %>

