<div class="row">
<div> <%= render 'wikis/form' %></div>
</div>

<div class="spaceman">
  <hr>
  <div id="main_links">
   <div><%= link_to 'Wiki list', wikis_path %></div>
   <div><%= link_to 'Home', root_path %></div>
  </div>
</div>